<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- <div class="navbar-header">
      <a class="navbar-brand">Resipe Book</a>
    </div> -->

    <!-- <div class="collapse navbar-collapse"> -->
    <!-- <div class="navbar-default"> -->

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button>
        <a routerLink="/" class="navbar-brand">Recipe Book</a>
      </div>
      <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">


      <ul class="nav navbar-nav">
        <!-- <li (click)="onRecipe()" routerLinkActive="active"><a style="cursor: pointer;" Acti>Recipe</a></li>
        <li (click)="onShoppingList()" routerLinkActive="active"><a style="cursor: pointer;">Shopping List</a></li> -->
        <li [routerLink]="'/recipes'" routerLinkActive="active"><a style="cursor: pointer;" Acti>Recipe</a></li>
        <li [routerLink]="'/shopping-list'" routerLinkActive="active"><a style="cursor: pointer;">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span> </a>
          <ul class="dropdown-menu">
            <li (click)="saveData()"><a role="button">Save Data</a></li>
            <li (click)="fetchData()"><a role="button">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
